.App {
  text-align: center;
  height: 100vh;
  background-image: url("./background2.jpg");
  background-size: cover;
  background-position: center;
}

.flex {
  display: flex;
  margin-bottom: 20px;
}
